<?xml version="1.0"?>
<robot name="segment"
    xmlns:xacro="http://ros.org/wiki/xacro">



    <xacro:macro name="segment" params="name x y z joint_parent joint_origin_xyz joint_origin_rpy">

        <gazebo reference="${name}">
            <visual>
                <material>
                    <ambient>1. 0.3 0.3 1.0</ambient>
                    <diffuse>1. 0.3 0.3 1.0</diffuse>
                    <specular>1. 0.3 0.3 1.0</specular>
                    <emissive>1. 0.3 0.3 1.0</emissive>
                </material>
            </visual>
        </gazebo>

        <link name="${name}">
            <visual>
                <geometry>
                    <box size="${x} ${y} ${z}"/>
                </geometry>
                <material name="Brown">
                    <color rgba="0.30 0.15 0.0 1.0"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>0 0.0 0.0 1.0
                    <box size="${x} ${y} ${z}"/>
                </geometry>
            </collision>

            <xacro:box_inertia m="0.1" w="${x}" d="${y}" h="${z}"/>
        </link>

        <joint name="${name}_joint" type="fixed">
            <parent link="${joint_parent}"/>
            <child link="${name}"/>
            <origin xyz="${joint_origin_xyz}" rpy="${joint_origin_rpy}"/>
        </joint>





    </xacro:macro>

</robot>