<?xml version="1.0"?>
<robot name="battery"
    xmlns:xacro="http://ros.org/wiki/xacro">



    <xacro:macro name="battery">



        <!--contrepoids-->
        <gazebo reference="battery">
            <visual>
                <material>
                    <ambient>0.3 1. 0.3 1.0</ambient>
                    <diffuse>0.3 1. 0.3 1.0</diffuse>
                    <specular>0.3 1. 0.3 1.0</specular>
                    <emissive>0.3 1. 0.3 1.0</emissive>
                </material>
            </visual>
        </gazebo>
        <link name="battery">
            <visual>
                <geometry>
                    <box size="0.1 0.2 0.1"/>
                </geometry>
                <material name="Cyan">
                    <color rgba="0 1.0 1.0 1.0"/>
                </material>
            </visual>

            <collision>
                <geometry>
                    <box size="0.1 0.2 0.1"/>
                </geometry>
            </collision>
            <xacro:box_inertia m="5" w="0.1" d="0.2" h="0.1"/>
        </link>

        <joint name="battery_joint" type="fixed">
            <parent link="base_link"/>
            <child link="battery"/>
            <origin xyz="-0.25 0. 0." rpy="0 0 0"/>
        </joint>

    </xacro:macro>

</robot>