<?xml version="1.0"?>
<robot name="roballos"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/src/description/parts/collector/collector.xacro" />
  <xacro:include filename="$(find robot_description)/src/description/parts/property.xacro" />
  <xacro:include filename="$(find robot_description)/src/description/parts/base.xacro" />
  <xacro:include filename="$(find robot_description)/src/description/parts/battery.xacro" />
  <xacro:include filename="$(find robot_description)/src/description/parts/wheels.xacro" />
  <xacro:include filename="$(find robot_description)/src/description/parts/caster_wheel.xacro" />
  <xacro:include filename="$(find robot_description)/src/description/parts/control.xacro" />

  <xacro:base/>
  <xacro:battery/>
  <xacro:wheels/>
  <xacro:caster_wheel/>

  <xacro:collector/>
  <xacro:control/>


</robot>
